bower_components
node_modules
cordova/*
!cordova/artwork
!cordova/images
!cordova/config.xml
!cordova/cordova-params-android.json
!cordova/cordova-params-ios.json
!cordova/cordova-params-universal.json
!cordova/xcodeBuild.json
!cordova/androidBuild.json
!cordova/google-services.json
!cordova/custom-iconset.html
!cordova/index.html
build
.idea
**/.DS_Store
*.ipr
*.iws
*.iml
.gradle
eka.local
.furo
